{% extends "base.html.twig" %}

{% block title %}
    Listagem de Caracteristica
{% endblock %}


{% block body %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Listando Caracteristicas</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path("cadastrar_categoria") }}" class="btn btn-primary btn-lg pull-right">Adicionar Categoria</a>
        </div>
    </div>
    <table class="table table-striped table-hover mt-3">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>

        {% for produto in produtos %}
            <tr>
                <td>{{ caracteristica.id }}</td>
                <td>{{ caracteristica.nome }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('visualizar_caracteristica', {"id": caracteristica.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-sm btn-success" href="{{ path('editar_caracteristica', {"id": caracteristica.id}) }}"><i class="fa fa-pencil"></i> </a>
                    <a class="btn btn-sm btn-danger bt_excluir_caracteristica" href="{{ path('apagar_caracteristica', {"id": caracteristica.id}) }}"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>
        {% endfor %}

        <script type="text/javascript">
            $(document).ready(function(){
                $(".bt_excluir_caracteristica").click(function(ev) {
                    ev.preventDefault();

                    var url = $(this).prop("href");

                    if (confirm("Deseja excluir esta Característica?")) {
                        window.location = url;
                    }

                });
            });
        </script>

        </tbody>
    </table>
{% endblock %}