{% extends "base.html.twig" %}

{% block title %}
    Nossos Produtos
{% endblock %}


{% block body %}

    <h1>Nossos Produtos</h1>
    <hr>

    <div class="card-deck">
    {% for produto in produtos %}

                <div class="card">
                    <img class="card-img-top" src="{{produto.imagem}}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{produto.nome}}</h5>
                        <p class="card-text">{{produto.descricao}}</p>
                        <a class="btn btn-bg btn-primary" href="{{ path('detalhe_produto', {"id": produto.id}) }}"><i class="fa fa-eye"></i>&nbsp;Detalhes</a>
                        <a class="btn btn-bg btn-success" href="{{ path('detalhe_produto', {"id": produto.id}) }}"><i class="fa fa-shopping-cart"></i>&nbsp;Comprar</a>
                    </div>
                </div>

        {% endfor %}
    </div>
{% endblock %}