{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}

<div class="form-group">
    {{ form_label(form.nome) }}
    {{ form_widget(form.nome) }}
    {{ form_errors(form.nome) }}
</div>

<div class="form-group">
    {{ form_label(form.endereco) }}
    {{ form_widget(form.endereco) }}
    {{ form_errors(form.endereco) }}
</div>

<div class="form-group">
    {{ form_label(form.numero) }}
    {{ form_widget(form.numero) }}
    {{ form_errors(form.numero) }}
</div>

<div class="form-group">
    {{ form_label(form.complemento) }}
    {{ form_widget(form.complemento) }}
    {{ form_errors(form.complemento) }}
</div>

<div class="form-group">
    {{ form_label(form.bairro) }}
    {{ form_widget(form.bairro) }}
    {{ form_errors(form.bairro) }}
</div>

{{ form_row(form._token) }}

{{ form_widget(form.enviar) }}